<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jaka_zu5">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="use_gazebo" default="false"/>
    <xacro:arg name="use_rviz_sim" default="true"/>

    <!-- Arguments to pass to my_robot.urdf.xacro -->
    <!-- <xacro:arg name="include_ros2_control" default="false"/>  We'll use the control from jaka_zu5.ros2_control.xacro -->


    <!-- Import jaka_zu5 urdf file -->
    <xacro:include filename="$(find jaka_description)/urdf/my_robot.urdf.xacro" />

      <!-- 添加相机 -->
  <xacro:include filename="$(find jaka_description)/urdf/camera.xacro" />
  <xacro:camera_v0 parent="gripper_base_link">
        <origin xyz="0 -0.06 0.03" rpy="${-PI/2} ${-PI/2} 0"/>
  </xacro:camera_v0>
  <xacro:camera_gazebo_v0/>

  <gazebo>
        <plugin filename="ignition-gazebo-sensors-system" name="ignition::gazebo::systems::Sensors">
            <!-- <render_engine>ogre2</render_engine> -->
        </plugin>
    </gazebo>

    <!-- Import control_xacro -->
    <xacro:include filename="jaka_zu5.ros2_control.xacro" />

    <!-- Use the control macro -->
    <xacro:jaka_zu5_ros2_control initial_positions_file="$(arg initial_positions_file)" use_gazebo="$(arg use_gazebo)" use_rviz_sim="$(arg use_rviz_sim)" />

</robot>
