<?xml version="1.0" encoding="utf-8"?>
<!-- Main robot URDF file that combines all robot components -->
<robot name="jaka_zu5" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="PI" value="3.14159274"/>

  <!-- Include robot arm definition -->
  <xacro:include filename="$(find jaka_description)/urdf/jaka_zu5.xacro" />

  <!-- Include gripper definition if needed -->
  <xacro:include filename="$(find jaka_description)/urdf/gripper.xacro" />

  <!-- 添加传动配置 -->
  <xacro:include filename="$(find jaka_description)/urdf/jaka_zu5.gazebo" />

  <!-- World link for ground truth -->
  <link name="world" />

  <!-- Fix robot arm to world coordinate system -->
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="Link_0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

</robot>
