<?xml version="1.0" encoding="utf-8"?>
<!-- Main robot URDF file that combines all robot components -->
<robot name="jaka_zu5" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Define arguments for configuration -->
  <xacro:arg name="use_gazebo" default="false"/>
  <xacro:arg name="include_gripper" default="true"/>
  <xacro:arg name="include_gazebo_plugins" default="true"/>

  <!-- Include robot arm definition -->
  <xacro:include filename="$(find jaka_description)/urdf/jaka_zu5.xacro" />

  <!-- Include gripper definition if needed -->
  <xacro:if value="$(arg include_gripper)">
    <xacro:include filename="$(find jaka_description)/urdf/gripper.xacro" />
  </xacro:if>


  <!-- Include gazebo plugins and transmissions -->
  <xacro:if value="$(arg include_gazebo_plugins)">
    <xacro:include filename="$(find jaka_description)/urdf/gazebo.xacro" />
  </xacro:if>

  <!-- World link for ground truth -->
  <link name="world" />

  <!-- Fix robot arm to world coordinate system -->
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="Link_0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

</robot>
